{% extends "::layout/Layout.html.twig" %}

{% block body %}
    <div class="container">
        <div class="row">
            <h3>display widget admin page ony</h3>
        </div>
    </div>
    <div class="container">

        <div class="row">
            <div class="span3">
                {% include "::layout/modulesUsed/navAdd.html.twig" %}
            </div>
            <div class="span 4 offset3">
                <h1>
                    Ajouter des produits
                </h1>
            </div>
            <div class="row">
                <div class="span3 offset3">
                    <h3>Formulaire d'ajout</h3>
                </div>
            </div>
        </div>

            <div class="row">
                <div class="span2 offset2">
                    <p>nom</p>
                    <p>categorie</p>
                    <p>prix, tva</p>
                    <p>origine</p>
                    <p>imgupload</p>
                </div>
                <div class="span4 offset2">
                    <div class="form-actions">
                        {{ form_start(form, {
                                            'attr': {
                                                    'novalidate': 'novalidate',
                                                    'action' : path('ajout_produit'),
                                                    'method':'post'}}
                        ) }}
                        {{ form_widget(form) }}
                        <input class="btn btn-primary" type="submit" value="{{ 'Ajouter'|trans }}" />

                        {{ form_end(form) }}
                    </div>

                </div>

        </div>

        </div>
            <div class="row">


            <div class="span12">
                <ul class="thumbnails">
                    {% for i in 0..8 %}
                        <li class="span3">
                            <div class="thumbnail">
                                <img src="{{ asset('img/msf_spray.jpg') }}" alt="MSF" width="200" height="200">
                                <div class="caption">
                                    <h4>Thumbnail label</h4>
                                    <p>100,00 €</p>
                                    <a class="btn btn-primary" href="{{ path('presentation') }}">Plus d'infos</a>
                                    <a class="btn btn-success" href="{{ path('panier') }}">Ajouter au panier</a>
                                </div>
                            </div>
                        </li>
                        <li class="span3 offset-1">
                            <div class="thumbnail">
                                <img src="{{ asset('img/holder.png') }}" alt="MSF-holder" width="200" height="200">
                                <div class="caption">
                                    <h4>Thumbnail label</h4>
                                    <p>100,00 €</p>
                                    <a class="btn btn-primary" href="{{ path('presentation') }}">Plus d'infos</a>
                                    <a class="btn btn-success" href="{{ path('panier') }}">Ajouter au panier</a>
                                </div>
                            </div>
                        </li>
                    {% endfor %}

                </ul>

                <div class="pagination">
                    <ul>
                        <li class="disabled"><span>Précédent</span></li>
                        <li class="disabled"><span>1</span></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">Suivant</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
{% endblock %}