{% extends "::layout/Layout.html.twig" %}

{% block body %}
    <div class="container">
        <div class="row">
            <h1>display widget admin page ony</h1>
        </div>
    </div>
    <div class="container">

        <div class="row">
            <div class="span3">
                {% include "::layout/modulesUsed/navAdd.html.twig" %}
            </div>
            <div class="span 4 offset3">
                <h2>
                    modifier des produits
                </h2>
            </div>
            <div class="row">
                <div class="span3 offset3">
                    <h3>Update</h3>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="span12 offset3">
                <h3>TEST</h3>
                {% for produit in produits %}
                    <p><a href="{{ path('editer_produit', {'id': produit.id}) }}">{{ produit.nom }} - {{ produit.prix }}</a></p>
                {% endfor %}
            </div>
        </div>
            <div class="row">
                <div class="span3 offset3">
                    <p>nom</p>
                    <p>categorie</p>
                    <p>prix, tva</p>
                    <p>origine</p>
                    <p>imgupload</p>
                    <hr>
                </div>
                <div class="span6">

                        <input class="btn btn-primary" type="submit" value="{{ 'Modifier'|trans }}" />


                    </div>

                </div>

        </div>



        </div>
    <div class="row">
        <div class="span12 offset3">
            <h3>Catégorie Parfum</h3>
            <ul class="thumbnails">
                {% for i in 0..3 %}
                    <li class="span3">
                        <div class="thumbnail">
                            <img src="{{ asset('img/msf_spray.jpg') }}" alt="MSF" width="200" height="200">
                            <div class="caption">
                                <h4>Thumbnail label</h4>
                                <p>100,00 €</p>
                                <a class="btn btn-primary" href="{{ path('presentation') }}">Fiche Produit</a>
                                <hr>
                            </div>
                        </div>
                    </li>

                {% endfor %}

            </ul>

        </div>

    </div>
    <div class="row">
        <div class="span12 offset3">
            <h3>Catégorie Support</h3>
            <ul class="thumbnails">
                {% for i in 0..3 %}
                    <li class="span3">
                        <div class="thumbnail">
                            <img src="{{ asset('img/msf_spray.jpg') }}" alt="MSF" width="200" height="200">
                            <div class="caption">
                                <h4>Thumbnail label</h4>
                                <p>100,00 €</p>
                                <a class="btn btn-primary" href="{{ path('presentation') }}">Fiche Produit</a>
                                <hr>
                            </div>
                        </div>
                    </li>

                {% endfor %}

            </ul>

        </div>

    </div>
            <div class="row">
                <div class="span12 offset3">
                    <h3>Catégorie Accessoires</h3>

                    <ul class="thumbnails">
                        {% for i in 0..3 %}
                            <li class="span3">
                                <div class="thumbnail">
                                    <img src="{{ asset('img/msf_spray.jpg') }}" alt="MSF" width="200" height="200">
                                    <div class="caption">
                                        <h4>Thumbnail label</h4>
                                        <p>100,00 €</p>
                                        <a class="btn btn-primary" href="{{ path('presentation') }}">Fiche Produit</a>
                                        <hr>
                                    </div>
                                </div>
                            </li>

                        {% endfor %}

                    </ul>


            </div>
                <hr>
                <hr>
            <div class="span12 offset3">
                <h2>BOUTIQUE</h2>
                <hr>
                <ul class="thumbnails">
                    {% for i in 0..3 %}
                        <li class="span3 offset-2">
                            <div class="thumbnail">
                                <img src="{{ asset('img/msf_spray.jpg') }}" alt="MSF" width="200" height="200">
                                <div class="caption">
                                    <h4>Thumbnail label</h4>
                                    <p>100,00 €</p>
                                    <a class="btn btn-primary" href="{{ path('presentation') }}">Plus d'infos</a>
                                    <a class="btn btn-success" href="{{ path('panier') }}">Ajouter au panier</a>
                                </div>
                            </div>
                        </li>
                        <li class="span3 offset2">
                            <div class="thumbnail">
                                <img src="{{ asset('img/holder.png') }}" alt="MSF-holder" width="200" height="200">
                                <div class="caption">
                                    <h4>Thumbnail label</h4>
                                    <p>100,00 €</p>
                                    <a class="btn btn-primary" href="{{ path('presentation') }}">Plus d'infos</a>
                                    <a class="btn btn-success" href="{{ path('panier') }}">Ajouter au panier</a>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
                <hr>
                <div class="pagination">
                    <ul>
                        <li class="disabled"><span>Précédent</span></li>
                        <li class="disabled"><span>1</span></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">Suivant</a></li>
                    </ul>

                </div>

            </div>
        </div>

{% endblock %}