{% extends "::Layout.html.twig" %}

{% block body %}

    <div class="span3">
        {% include "::layout/modulesUsed/nav.html.twig" %}
    </div>

    <div class="span4 offset3">
        <h2>MON PANIER</h2>
    </div>
    <div class="row">
        <div class="span10 offset2">
            <div class="table-responsive">
                <table class="table table-hover table-bordered">
                    <caption>Ma Composition  </caption>
                        {% if panier is defined %}
                            <table class="table table-striped table-hover">
                                <thead>

                                <tr>
                                    <th>img</th>
                                    <th>Références</th>
                                    <th>Nom</th>
                                    <th>Quantité</th>
                                    <th>Description</th>
                                    <th>Prix unitaire</th>
                                    <th>Total HT</th>
                                    <th>TVA</th>
                                    <th>*</th>

                                </tr>
                                </thead>
                                <tbody>
                                 {% for composition in panier %}

                                <tr>
                                    <td><img src="{{ asset('img/') }}{{ composition.photo.imageName }}" alt=""></td>
                                    <td>{{ composition.produit.id }}</td>
                                    <td>{{ composition.produit.nom }}</td>
                                    <td>
                                        <form action="">
                                            <input type="number" value="{{ composition.quantite }}" name="quantité" >
                                            <input type="submit" class="btn btn-default" value="envoyer"> </form>&nbsp

                                    </td>
                                    <td>{{ composition.produit.description }}</td>
                                    <td>{{ composition.produit.prix }}</td>
                                    <td>{{ composition.produit.prix }}</td>
                                    <td>{{ composition.produit.tva }}</td>

                                    <td>
                                        <a href="#"><i class="fa fa-refresh"></i></a>
                                        <a href="#"><i class="fa fa-trash"></i></a>
                                    </td>

                                </tr>
                                {% endfor %}


                                        <a href="#"><i class="icon-refresh"></i></a>
                                        <a href="#"><i class="icon-trash"></i></a>

                                </tbody>
                            </table>

                            {% endif %}
            </div>
        </div>
    </div>
    <div class="row">
        <hr>
    </div>

    </div>
    </div>

    {{ dump(panier) }}

        <dl class="dl-horizontal pull-right">
            <dt>Total HT :</dt>
            <dd>79,99€</dd>

            <dt>TVA :</dt>
            <dd>200€</dd>

            <dt>Total:</dt>
            <dd>99,99€</dd>
        </dl>
        <div class="clearfix"></div>
        <a href="" class="btn btn-success pull-right">Valider mon panier</a>
        <a href="" class="btn btn-primary">Offre Promotionnelle</a>
        <a href="" class="btn btn-primary">Continuer mes achats</a>
    </div>

    <div class="span8">


        <div class="pagination">
            <ul>
                <li class="disabled"><span>Précédent</span></li>
                <li class="disabled"><span>1</span></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">Suivant</a></li>
            </ul>
        </div>

    </div>
    </div>
    </div>
{% endblock %}