{% extends "Layout.html.twig" %}

{% block title %}personalisation{% endblock %}

{% block body %}

    <div class="container">
        <div class="span12">
            <div class="row">
                <h1>Welcome to the Produits:personalisation page</h1>
                <p>ici nommer votre composition</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="span6 offset3">
            <div class="container">

                {{ form_start(form) }}
                {{ form_widget(form) }}
                <input class="btn btn-primary" type="submit" value="{{ 'Customiser'|trans }}" />
                {{ form_end(form) }}

            </div>
        </div>
    </div>


    <div class="row">
        <div class="span6">

            <div class="container">



                <div class="span12">
                    <div class="row">
                        <hr>
                    </div>
                </div>
                <div class="row">

                    <div class="span8 offset2">
                        <h3>Tableau de Vos produits customisé</h3>

                        <div class="table-responsive">
                            <table class="table table-hover table-bordered">
                                <caption>Votre boudoire</caption>
                                <thead>
                                <tr>
                                    <th scope="col">id client</th>
                                    <th scope="col">DATE</th>
                                    <th scope="col">PRODUIT</th>
                                    <th scope="col">NOM CUSTOMISE</th>
                                    <th scope="col">action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {%  for customName in custom %}
                                <tr>
                                    <th scope="row">id client</th>
                                    <td>{{ customName.dateCreation.date }}</td>
                                    <td>{{ customName.id }}</td>
                                    <td>{{ customName.titre }}</td>

                                    <td></td>
                                </tr>
                                    {% else %}
                                        <tr>
                                            <th scope="row"></th>
                                            <td>N/a</td>

                                        </tr>
                                {% endfor %}

                            </table>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <hr>
                </div>


                <div class="row">
                    <div class="span8 offset2">
                        <div class="table-responsive-sm">
                            <table class="table">
                                ...
                            </table>
                        </div>

                        <div class="table-responsive-md">
                            <table class="table">
                                ...
                            </table>
                        </div>

                        <div class="table-responsive-lg">
                            <table class="table">
                                ...
                            </table>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>


{% endblock %}
